<ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <a class="nav-link" routerLink=""> Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/tests">Test Component</a>
    </li>
    <li>
        <a class="nav-link" routerLink="/user">User Component</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/question">Question</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/faculty">Faculty</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin">Admin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/student">Student</a>
    </li>
    </ul>