    
    <!--Step 4 // Step 5 in content.component.html-->
    <!-- <button type="button" class="btn btn-primary" (click)="addNotification()">Generate Notification (Emit Notification Event.)</button> -->
    
    <br /><hr />


    <!-- START OF ANGULAR MATERIAL TABLE -->
    <table style="width: 100%;" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Marks Column -->
        <ng-container matColumnDef="marks">
            <th mat-header-cell *matHeaderCellDef> Marks </th>
            <td mat-cell *matCellDef="let element"> {{element.marks}} </td>
        </ng-container>

        <!-- No of Questions Column -->
        <ng-container matColumnDef="noOfQues">
            <th mat-header-cell *matHeaderCellDef> No of Questions </th>
            <td mat-cell *matCellDef="let element"> {{element.noOfQues}} </td>
        </ng-container>

        <!-- Button Column -->
        <!-- <ng-container matColumnDef="viewTest">
          <th mat-header-cell *matHeaderCellDef> View Details </th>
            <td><button [routerLink]="['/viewtest']" mat-button color="primary">View Test Details.</button></td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


<!--     USING BOOTSTRAP TABLE.
    <table class="table table-dark table-striped">

        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>No of Questions</th>
            <th>Marks</th>
            <th>Action</th>
        </thead>
    
        <tr *ngFor = "let singletest of testArr">
            <ng-container *ngIf="checkMarks(singletest.marks)">
                <td>{{singletest.id}}</td>
                <td>{{singletest.testName}}</td>
                <td>{{singletest.noOfQues}}</td>
                <td>{{singletest.marks}}</td>
                <button type="button" [routerLink]="['/viewtest', singletest.id]" class="btn btn-primary">View Test Details.</button>
            </ng-container>
        </tr>
    
    </table> -->
    <hr />

    <form class="form" [formGroup]="testForm" (ngSubmit)="onSubmit()">
        <fieldset>
        <legend>Test Details</legend>

        <div>
            <form>
                <input type="radio" name="choice" #AddButtonRadio id="AddButtonRadio" value="add" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    Check this to Add
                </label>
                <br />

                <input type="radio" name="choice" #UpdateButtonRadio id="UpdateButtonRadio" value="update">
                <label class="form-check-label" for="flexRadioDefault2">
                    Check this to Update
                </label>

                <br /><br />

                <input type="button" class="btn btn-primary" (click)=confirmAction(UpdateButtonRadio,AddButtonRadio,updateAction,addAction) id="btn" value="Confirm the action">
            </form>
        </div>
        <!-- <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="AddButtonRadio" checked>
            <input type="radio" name="choice" value="yes">
            
            
            <br />

            <input class="form-check-input" type="radio" name="flexRadioDefault" id="UpdateButtonRadio">
            
        </div> -->

        <br />

        <div class="mb-3">
        <label class="form-label" for="id">
            Id
        </label>
        
        <select class="form-select" #idSelector  id="id" formControlName="id" (change)="onChangeType($event,$event.target.value)">
        <option selected>Select a value</option>
        <option *ngFor="let test of testArr" [ngValue]="test.id" [disabled]="test.activeStatus == false">{{ test.testName }}</option>
        </select>
        </div>
        <div>
            <!-- Form Validator for testName, Here -->
            <div *ngIf="this.testForm.hasError('required', 'testName')">
                <span>Test Name Can't be Empty</span>
            </div>
        <label for="testName">
            Name
        </label>
        <input #testNameInp id="testName" class="form-control" type="text" formControlName="testName">
        </div>
    
        <div>
        <label for="marks">
            Marks
        </label>
        <input #marksInp id="marks" class="form-control" type="number" formControlName="marks">
        </div>
    
        <div>
        <label for="noOfQues">
            Number of Questions
        </label>
        <input #noOfQuesInp id="noOfQues" class="form-control" type="number" formControlName="noOfQues">
        </div>

        <br />
    
        <div>
            <label> Status </label>
            <select class="form-select" name="statusSelector" #statusSelector>
                <option value=true selected>Enable</option>
                <option value=false>Disable</option>
            </select>
        </div>

        <button class="button btn-primary" #addAction type="submit">Add</button> &nbsp;&nbsp;&nbsp;&nbsp;
        <button class="button btn-primary" #updateAction type="button" (click)=updateTest(idSelector,testNameInp,marksInp,noOfQuesInp,statusSelector)>Update</button>

        <br />
        
    
    </fieldset>
    </form>

    <hr />

    <form class="form" [formGroup]="subjectForm" (ngSubmit)="onSubjectSubmit()">
        <fieldset>
        <legend>Add Subject</legend>
        <p>Id will be generated</p>
        <div>
        <label for="subjectName">
            Subject Name
        </label>
        <input id="subjectName" class="form-control" type="text" formControlName="subjectName">
        </div>
    
        <!-- <div>
        <label for="subjectMarks">
            Subject Marks
        </label>
        <input id="subjectMarks" class="form-control" type="number" formControlName="subjectMarks">
        </div>
    
        <div>
        <label for="noOfQuesForSubject">
            Number of Questions For Subject
        </label>
        <input id="noOfQuesForSubject" class="form-control" type="number" formControlName="noOfQuesForSubject">
        </div>
    
        <br /> -->
        
        <button class="button btn-primary" type="submit">Add Subject</button>
        
        <hr />
    </fieldset>
    </form>