<!-- <hr />
<div *ngFor = "let single_msg of msgArr">
    <span>{{single_msg}}</span>
</div>
<span>Message From Home - {{msgFromHome}}</span>
<hr /> -->
<!-- <app-test (addNotificationCount) = "notificationReceived($event)"></app-test> Step 5 -- Events are called using parantheisis. //Step 6 in content.component.ts -->
<router-outlet></router-outlet>
    <!-- <ul><li *ngFor = "let singletest of arrTest">ID = {{singletest.id}}, Name = {{singletest.testName}}, No of Questions = {{singletest.noOfQues}}, Marks = {{singletest.marks}}</li></ul> -->