    <!--Main Container-->
    <app-banner></app-banner>
    
    <div class="container-fluid">

        <!-- <div class="row">
            <div class="col-md-12" id="banner">
                <app-banner></app-banner>
            </div>
        </div> -->
        <!-- NAVBAR HAS GAPS ON LEFT AND RIGHT. WE WILL MOVE THE BANNER CALL OUTSIDE THE COL-MD -->

        <div class="row">

            <div class="col-md-3" id="sidebar">
                <app-sidebar></app-sidebar>
            </div>

            <div class="col-md-9" id="content">

                <!-- <button type="button" class="btn btn-primary" (click)="respondToEvent()">Emit Multiple Events.</button> <br /><br />
                <app-content [msgArr] = msgArr></app-content> 
                We will be writing <app-content> tag without the interpolated values -->
                <app-content></app-content>
                
            </div>

        </div>
    
    </div>