// #banner{
//     background-color: bisque;
//     height: 80px;
// }

#sidebar{
    background-color: aqua;
    height: inherit max-content;
}

#content{
    background-color: aquamarine;
    height: 100%;
}