    <!--Main Container-->
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12" id="banner">
                <app-banner></app-banner>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3" id="sidebar">
                <app-sidebar></app-sidebar>
            </div>

            <div class="col-md-9" id="content">
                <app-content></app-content>
                
            </div>

        </div>
    
    </div>