    <!--Main Container-->
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12" id="banner">
                <app-banner></app-banner>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3" id="sidebar">
                <app-sidebar></app-sidebar>
            </div>

            <div class="col-md-9" id="content">

                <button type="button" class="btn btn-primary" (click)="respondToEvent()">Emit Multiple Events.</button>
                <app-content [msgArr] = msgArr></app-content>
                
            </div>

        </div>
    
    </div>